## -*- coding: utf-8 -*-
<%inherit file="base.html"/>

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Über</h1>
	<p>Diese Karte wurde von <a href="http://github.com/olf42">olf</a> aus dem <a href="http://sublab.org">sublab</a> im Rahmen von <a href="http://codefor.de">Code For Leipzig</a> im Mai 2014 entwickelt. Die Daten werden von den Menschen von <a href="http://www.cafekaputt.lebenlernenleipzig.de/">Café Kaputt</a> aktuell gehalten.
	</p>
        <h2>Technische Umsetzung</h2>
	<p>Diese Website wurde mit <a href="http://getbootstrap.com">Twitter Bootstrap</a> und dem Theme <a href="http://bootswatch.com/amelia/">Amelia</a> mit Hilfe von <a href="http://leafletjs.com">Leaflet.js</a> und <a href="http://jquery.com">JQuery</a> umgesetzt.<br />
	Das Backend wurde in <a href="http://cherrypy.org">CherryPy</a> implementiert. Die Datenbank wird mit <a href="http://sqlite.org">SQLite</a> verwaltet. Der Quelltext ist auf <a href="http://github.com/olf42/reparieren-in-leipzig">github</a> zu finden.<br />
	Als Datenquelle wird <a href="http://openstreetmap.org">Openstreemap</a> benutzt, die Tiles von <a href="http://mapquest.de">MapQuest</a> bereitgestellt.
	</p>
</div>
