## -*- coding: utf-8 -*-
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.png">

    <title>Reparieren in Leipzig</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

        <%block name="header"/>

  </head>

  <body>

    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Reparieren in Leipzig</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/karte">Karte</a></li>
            <li><a href="/list">Liste</a></li>
            <li><a href="/more">Mehr</a></li>
            <li><a href="/about">Über</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="container">

    
    ${self.body()}
  	
      <div class="row">
	<p class="text-center">
	<b>Reparieren in Leipzig</b> ist ein Projekt des <a href="http://sublab.org">sublab</a> und des <a href="http://www.cafekaputt.lebenlernenleipzig.de/">Café Kaputt</a>.
	</p>
      </div>
    </div>

    <%block name="footer"/>
    <script src="js/jquery-2.1.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
