## -*- coding: utf-8 -*-
<%inherit file="base.html"/>

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Reparieren in Leipzig</h1>
	<p>Hier findest du eine Datenbank von Werkstätten und anderen Möglichkeiten in Leipzig: Geräte, Fahrräder, Textilien und alles weitere was du dir vorstellen kannst zu reparieren. 
	</p>
	 <p>
        	<a class="btn btn-lg btn-primary" href="karte" role="button">Zur Karte &raquo;</a>
	</p>
</div>
