## -*- coding: utf-8 -*-
<%inherit file="base.html"/>

      <!-- Main component for a primary marketing message or call to action -->
      % if error:
      	<div class="alert alert-dismissable alert-danger">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<strong>Mist!</strong> ${error}
</div>
      % endif
      <div class="jumbotron">
        <h1>Liste</h1>
	<p>Hier findest du eine Liste aller erfassten Reparaturpunkte.
	</p>

	
	<h2>Reparaturpunkte</h2>
		% for row in data:
			<h3>${row[1]}</h3>
			<p><b>Details:</b> ${row[2]}<br />
			<b>Kategorie:</b> ${row[6]}<br />
			<b>Website:</b> <a href="${row[3]}">${row[3]}</a></p>
			<hr>
		% endfor
	</table>
        

   </div>
</div>

